*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
pkg/

# Berkshelf
.vagrant
/cookbooks
Berksfile.lock

# Bundler
Gemfile.lock
bin/*
binstubs/*
.bundle/*

.kitchen/
.kitchen.local.yml

.chef/local-mode-cache/
.chef/gce_config.json
.chef/hosted.pem
chef-marketplace.deb
chef-marketplace.rpm

data_bags/*
